In [1]:
import tweepy
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
CONSUMER_KEY = "pBLoazfzVHC6KEtjWujc3BQZH"
CONSUMER_SECRET = "62gsKm50t5p4WboCxjyCDhtXcFuaZaDRUc2Y55CrvAlZgGtbUi"
ACCESS_TOKEN_KEY = "1565145648214659072-DlVkq5zmYtVSrWqJrDjsg4LVSk5SYX"
ACCESS_TOKEN_SECRET = "plT89r9QT5JLVB4o7Q1pxvHujhfOFx7L2CxMOOPSTOJ6Q"

In [3]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN_KEY, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [4]:
userID = "delltechcareers"
tweets = api.user_timeline(screen_name=userID, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
tweets_id = []
for tweet in tweets:
    tweets_id.append(tweet.id_str)

In [5]:
retweets_id = []
for id in tweets_id:
    retweets = api.get_retweets(id, count=100)
    for retweet in retweets:
        with (open("retweets_id.txt", "a")) as f:
            f.write(str(retweet.user.screen_name) + '\n')

Rate limit reached. Sleeping for: 673
Rate limit reached. Sleeping for: 876
Rate limit reached. Sleeping for: 877

In [14]:
df = pd.read_csv("retweets_id.txt")
df.columns = ["user"]
new_id = pd.DataFrame(df['user'].value_counts().head(25))
new_id

                 user
fleejack          145
Race2Diversity    135
VGrunler           52
McInnisCheryl      13
eblake44           11
CiselyW            10
LauraLAtDell        9
John_Howard2        9
Cass_Garber         7
manuLrios           7
Paige_Eckhart       6
MbaDhandapani       5
BalajiGurudoss      4
RawlsCMC            4
NandaVinu           4
slutty_rekha        4
EAhumadaR           3
gabrielavbello      3
Williams25Sarah     3
DellTech            3
LaetitiaCousi       2
ElAlejoGarciaL      2
SCagiga             2
chiodp              2
kisamo_emmanuel     2

In [15]:
tweets_id = []
for userID in new_id.index:
    tweets = api.user_timeline(screen_name=userID, 
                            #  is the maximum allowed count
                            count=25,
                            include_rts = False,
                            # Necessary to keep full_text 
                            # otherwise only the first 140 words are extracted
                            tweet_mode = 'extended'
                            )

    for tweet in tweets:
        tweets_id.append(tweet.id_str)

In [16]:
retweets_id = []
for id in tweets_id:
    retweets = api.get_retweets(id, count=100)
    for retweet in retweets:
        with (open("retweets_id.txt", "a")) as f:
            f.write(str(retweet.user.screen_name) + '\n')

Rate limit reached. Sleeping for: 308
Rate limit reached. Sleeping for: 880
Rate limit reached. Sleeping for: 880
Rate limit reached. Sleeping for: 880